{{#partial "contenido"}}

    <div class="row">
        <div class="col-md-12" style="">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Indicador</th>
                    <th>Fórmula</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each indicadores}}
                <tr>
                    <td>{{index}}</td>
                    <td>{{this.nombre}}</td>
                    <td>{{this.formula}}</td>
                    <td><a class="btn btn-danger" href="">Borrar</a></td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

{{/partial}}
{{>layoutIndicadores.hbs}}