{{#partial "contenido"}}
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre Metodología</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each metodologias}}
                <tr>
                    <td>{{index}}</td>
                    <td>{{this.nombre}}</td>
                    <td>
                        <a class="btn btn-secondary btn-sm btn-block" href="">Consultar</a>
                    </td>
                    <td><a class="btn btn-danger" href="">Borrar</a></td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
{{/partial}}
{{>layoutMetodologias.hbs}}