{{#partial "contenido"}}
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead style="background-color:MediumAquaMarine">
                <tr>
                    <th>#</th>
                    <th>Nombre Metodología</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {{#each metodologias}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{this.nombre}}</td>
                    <td> <a class="btn btn-secondary btn-sm btn-block" href="/metodologias/consultas/{{url}}">Consultar</a></td>
                    <td>
                    	<form action="/metodologias/baja/{{url}}" method="POST">
                    		<button class="btn btn-danger" type="submit">Borrar</button>
                    	</form>
                    </td>
                </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
{{/partial}}
{{>layoutMetodologias.hbs}}